:root{
  --main-color: #333;
  --white-color: #fff;
  --navy-color: #043c78;
  --font-family: 'Zen Kaku Gothic New', sans-serif;
  --font-family-poppins: 'Poppins', sans-serif;
}

.text {
	font-weight: 500;
}

body{
  scrollbar-color: var(--navy-color) #fff;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--navy-color);
}

.arlo_tm_mobile_menu .logo{
	display: flex;
	align-items: center;
	gap: 24px;
}

.arlo_tm_sidebar{
	background-color: var(--navy-color);
}

.arlo_tm_sidebar .logo{
	background-color: var(--white-color);
}

.arlo_tm_sidebar .logo{
	background-color: var(--white-color);
}

.arlo_tm_sidebar .copyright a:hover{
	color: var(--white-color);
}

.arlo_tm_sidebar .menu ul li.current a,
.arlo_tm_sidebar .menu ul li a:hover{
	color: var(--white-color);
}

.arlo_tm_resizer a{
	background-color: var(--white-color);
}

.arlo_tm_hero{
	background-color: #d4d9dc;
}

.arlo_tm_hero .content[data-color="light"] .arlo_tm_button a{
	background-color: var(--white-color);
}

.arlo_tm_button a{
	background-color: var(--navy-color);
}

.arlo_tm_button a:before{
	background-color: var(--white-color);
}

.arlo_tm_button a:after{
	background-color: var(--white-color);
}

.arlo_tm_main_title span{
	color: var(--navy-color);
}

.arlo_tm_about .about_inner{
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-template-rows: auto;
	align-items: flex-start;
	gap: 24px;
}

.arlo_tm_about .left{
	width: initial;
	padding-right: 0;
}

.arlo_tm_about .right{
	width: initial;
	padding-left: 0;
}

.about_short_contact_wrap ul {
	list-style: none;
}

.arlo_tm_counter .background .overlay{
	background-color: var(--navy-color);
}

.arlo_tm_services .list_inner:before{
	background-color: var(--navy-color);
}

.arlo_tm_services .service_list .icon{
	background-color: var(--navy-color);
}

.arlo_tm_services .service_list .svg{
	color: var(--white-color);
}

.arlo_tm_services .list_inner:hover .svg{
	color: var(--navy-color);
}

.arlo_tm_services .list_inner:hover .icon{
	background-color: var(--white-color);
}

.arlo_tm_portfolio .portfolio_filter ul li a:hover,
.arlo_tm_portfolio .portfolio_filter ul li a.current{
	color: var(--navy-color);
}

.arlo_tm_portfolio .portfolio_list .overlay{
	background-color: var(--navy-color);
}

.arlo_tm_modalbox .main_details .detailbox span a:hover{
	color: var(--navy-color);
}

.arlo_tm_get_quote .background .overlay{
	background-color: var(--navy-color);
}

.arlo_tm_get_quote .play_button a{
	background-color: var(--white-color);
}

.arlo_tm_partners .wrapper p{
	font-family: var(--navy-color);
}
.arlo_tm_partners .wrapper p a{
	color: var(--navy-color);
}

.arlo_tm_testimonials .wrapper .left i{
	color: var(--white-color);
}

.arlo_tm_testimonials .stars i{
	color: var(--white-color);
}

.arlo_tm_news .news_list .title a:hover{
	color: var(--navy-color);
}

.arlo_tm_modalbox .news_popup_informations .meta a{
	color: var(--navy-color);
}

.accordion .accordion_content{
	border: solid 1px var(--navy-color);
	background: var(--white-color);
}

.accordion .accordion_content p {
	color: var(--main-color);
	font-weight: bold;
}

.accordion .accordion_header{
  background-color: var(--navy-color);
}

.arlo_tm_contact .left > ul > li .icon{
	background-color: var(--navy-color);
}

.arlo_tm_contact .left > ul > li .icon i{
	color: var(--white-color);
}

.arlo_tm_contact .left > ul > li a:hover{
	color: var(--navy-color);
}

.cursor-inner {
  background-color: var(--navy-color);
}

.cursor-inner.cursor-hover {
  background-color: var(--navy-color);
}

.cursor-inner.cursor-hover {
  background-color: var(--navy-color);
}

.cursor-outer {
  border: 2px solid var(--navy-color);
}

.progressbar .line {
  background-color: var(--navy-color);
}

.progressbar a:hover{
	color: var(--navy-color);
}

.arlo_tm_about .text h3 {
	font-size: 18px;
	margin-bottom: 8px;
}

.arlo_tm_skills_wrap {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.skill-list {
	padding-left: 1em;
}

.descriptions ul {
	margin-top: 16px;
	padding-left: 1em;
}

.arlo_tm_skills_wrap .container .inner,
.arlo_tm_services_wrap .container .inner{
	-webkit-box-shadow: 0 0 20px rgba(0,0,0,.1);
	        box-shadow: 0 0 20px rgba(0,0,0,.1);
	padding: 40px 40px 35px 40px;
	margin-bottom: 20px;
	-webkit-transition: all .3s ease;
	     -o-transition: all .3s ease;
	        transition: all .3s ease;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */ /* Firefox, other Gecko */
	box-sizing: border-box; /* Opera/IE 8+ */
}

.arlo_tm_skills_wrap .container .inner .text,
.arlo_tm_services_wrap .container .inner {
	height: auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	display: -webkit-flex;
	-webkit-justify-content: space-between;
}

.arlo_tm_skills_wrap .container .title_skills,
.arlo_tm_services_wrap .container .title_service{margin-bottom: 17px;}
.arlo_tm_skills_wrap .container .title_skills h3,
.arlo_tm_services_wrap .container .title_service h3{
	font-size: 22px;
	font-weight: 600;
	color: #000;
	line-height: 1.3;
}

.arlo_tm_services {
	padding: 140px 0 0;
}

.arlo_tm_contact .left {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.arlo_tm_contact .left {padding-right: 0;}
.arlo_tm_contact .right {padding-left: 0;}


@media screen and (max-width: 1600px) {
	.arlo_tm_about .left{padding-right: 0;}
	.arlo_tm_about .right{padding-left: 0;}
	.arlo_tm_contact .left {padding-right: 0;}
	.arlo_tm_contact .right {padding-left: 0;}
}

@media screen and (max-width: 1040px) {
	.arlo_tm_about .left{width: initial;padding-right: 0px;margin-bottom: 0px;}
	.arlo_tm_about .right{width: initial;padding-left: 0px;}
	.arlo_tm_contact .left {padding-right: 0;}
	.arlo_tm_contact .right {padding-left: 0;}
}